html {
	background: rgb(25, 25, 0);
	color: rgb(200,255,0);
}

a { color: rgb(220,220,255); }
a:hover { color: rgb(230,255,255); }
strong, b, .preferred { color: rgb(255,255,0) }

.preferred {
	font-weight: bold;
}

li.preferred {
	margin-bottom: 1.5ex;
}

code {
	display: inline-block;
	background: rgb(60,60,50);
	color: rgb(255,255,0);
	padding: 0.3ex;
	padding-right: 1ex;
}

.dl ul {
	padding: 0
}
.dl li {
	list-style-type: none;
}

.first-sub { clear: left; }

.mainhead {
	float: left;
	/* from .dl below:
	 * 25 em width + 1 em margin + 1 em padding + 2px border
	 * remember margin, padding, and border are 2× because both sides. */
	max-width: calc(100% - 27em - 2px);
}

.dl {
	background: rgb(100,50,50);
	color: white;
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid rgb(80,40,40);
	outline: 1px solid rgb(60,30,30);
	float: right;
	max-width: 25em;
}

.clarification {
	font-size: 70.710678118654752441%;
}
