
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

html {
	display: flex;
	justify-content: center;
}

body {
    color: #4f4f4f;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    max-width: 960px;
    margin: 15px 10px;
    border: 1px solid #eee;
    padding: 0 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 2px #f4f4f4;
}

.mainhead h1 {
    font-size: 38px;
    margin-top: 30px;
}

.mainhead h1:before {
	content: '☢';
	font-size: 50px;
	margin-right: 14px;
	color: #34b139;
	vertical-align: -2px;
}

h1, h2 {
    font-size: 24px;
    margin-top: 40px;
    font-weight: 800;
}

h3 {
    margin-top: 30px;
}

.dl h2 {
    margin-top: 0;
}

a {
	color: #34b139;
	text-decoration: none;
}

a:hover {
	color: rgb(47 134 50);
}

strong, b, .preferred {
	font-weight: 700;
}

.preferred {
	font-weight: 700;
}

li.preferred {
	margin-bottom: 1.5ex;
}

code {
	display: block;
	background: #fcfcfc;
	color: #799fbd;
	padding: 15px;
	border-radius: 15px;
	margin: 20px 15px;
	font-family: monospace;
	font-size: 15px;
	border: 1px solid #eee;
}

.dl {
	background: #fcfcfc;
	margin: 20px 15px;
	padding: 25px;
	border: 1px solid #eee;
	border-radius: 15px;
}

.clarification {
	font-size: 12px;
}

.dl ul {
	padding: 0
}
.dl li {
	list-style-type: none;
}

.first-sub { clear: left; }
